

.container-img-card{
   height: 150px;
}

.container-img-card img{
    object-fit: fill;
   height: 100%;
   width: 100%;
}

footer{
   height: 70px;
}

.accordion-item{
   border: none;
}

.loading-spinner{
   background-color: rgba(14, 13, 13, 0.329);
   bottom: 0;
   color: #fff;
   display: flex;
   font-size: 20px;
   justify-content: center;
   align-items: center;
   height: 100vh;
   left: 0;
   position: absolute;
   right: 0;
   top: 0;
   width: 100vw;
   z-index: 1000;
  
}

.loading-img{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}